<ul>
<li><button><a href="/group/:group">Mountietocat</a></button></li>
<li><button><a href="/group/:group">Grinchtocat</a></button></li>
<li><button><a href="/group/:group">Daftpunktocat</a></button></li>
</ul>