<form action="/login" method="post">

<div>
<input type="text" name="email" placeholder="your@email.com">
</div>

<div>
<input type="text" name="password" placeholder="password">
</div>

<div>
<input type="submit" value"Log In">
</div>

</form>